.aside-footer
	display block
	width 100%

	&__profile
		position relative
		display flex
		align-items center
		flex-direction row-reverse
		padding 5px 10px
		cursor pointer
		user-select none
		border-radius 5px
		defaultTransition()

		&:hover
			background-color var(--background-hover)

		&:active
			background-color var(--background-active)

		&:last-child
			margin-bottom 0

	&__avatar
		flex-shrink 0
		width 34px
		height 34px
		border-radius 50%
		--user-avatar__size 34px
		object-fit cover

	&__info
		max-width calc(100% - 34px)

	&__username
		overflow hidden
		margin-right 10px
		font-size 14px
		font-weight normal
		line-height 20px
		white-space nowrap
		text-overflow ellipsis

	&__dropdown
		position absolute
		right 0
		left 0
		bottom calc(100% + 2px)
		margin 0 0 4px
		padding 4px
		background var(--primary-background)
		border none
		border-radius 4px

	&__dropdown-item
		margin 0 0 4px

		&:last-child
			margin-bottom 0
