.avatar
	position relative
	overflow hidden
	width 100%
	max-width 100%
	height 100%
	max-height 100%
	text-align center
	border-radius 50%
	--user-avatar__size 100%

	&__loading
		position absolute
		top 0
		left 0
		display flex
		justify-content center
		align-items center
		width 100%
		height 100%

		&-image
			width 60px
			height 60px

	&__upload
		position absolute
		top 0
		right 0
		left 0
		bottom 0
		padding 20px
		cursor pointer
		background-color rgba(0, 0, 0, .5)
		opacity 0
		transition opacity .2s ease

		&:hover
			opacity 1

		&-icon
			fill rgba(255, 255, 255, .5)

		&-input
			display none

	&_size
		&_tiny
			$size = 30px
			width $size
			max-width $size
			height $size
			max-height $size
			--user-avatar__size $size

		&_medium
			$size = 50px
			width $size
			max-width $size
			height $size
			max-height $size
			--user-avatar__size $size

		&_large
			$size = 70px
			width $size
			max-width $size
			height $size
			max-height $size
			--user-avatar__size $size

		&_stretch
			$size = 100%
			width $size
			max-width $size
			height $size
			max-height $size
