$switch-checked-color = var(--primary)
$switch-unchecked-color = var(--primary)
$switch-size = 16px
$switch-base-size = $switch-size + 4
$switch-margin = 10px 0

.switch
	position relative
	display block
	margin 16px 0
	font-size 16px
	user-select none
	-webkit-tap-highlight-color transparent

	&_display
		&_inline-block
			display inline-block

	&_with
		&_margin
			margin $switch-margin

	&__input
		position absolute
		width 1px
		height 1px
		overflow hidden
		clip rect(0, 0, 0, 0)
		white-space nowrap

		&:focus-visible + ^[0]__label:before
			box-shadow 0 0 0 2px var(--primary-text)

		&:checked
			& +
				& ^[0]__label:before
					background $switch-checked-color

				& ^[0]__label:after
					left ($switch-base-size + ($switch-size - $switch-base-size) / 2)
					background $switch-checked-color

			&:disabled
				& +
					& ^[0]__label:before
						opacity .3

				&:checked
					& +
						& ^[0]__label
							opacity .4

		&:not(:checked):disabled
			& +
				& ^[0]__label
					opacity .6

	&__label
		position relative
		display inline-block
		vertical-align bottom
		min-height $switch-base-size
		margin-bottom 0
		padding 0
		line-height $switch-base-size
		cursor pointer

		&:not(:empty)
			padding 0 ($switch-base-size + (($switch-size / 2) - ($switch-base-size / 2)) * 2 + $switch-size * 1.5)

		&:before,
		&:after
			content ''
			position absolute
			border-radius $switch-size
			defaultTransition()

		&:after
			top (($switch-base-size - $switch-size) / 2)
			left (($switch-base-size - $switch-size) / 2)
			width $switch-size
			height $switch-size
			background #FFFFFF
			defaultShadow()

		&:before
			top 0
			left 0
			width $switch-size + $switch-base-size
			height $switch-base-size
			background $switch-unchecked-color
			opacity .4
